@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
$primary-color: #F2AC29;
$secondary-color: #0D0903;
$third-color: #D99518;
$font-color: #FFFFFF;
$font-root-size: 62.5%;
$font-stack: 'Oswald',
sans-serif;
html {
    font-size: $font-root-size;
}

body {
    font-family: $font-stack;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $font-color;
    background-color: $primary-color;
}

h1 {
    font-size: 2rem;
}

input,
textarea {
    color: $font-color;
    font-family: $font-stack;
    font-size: 1.6rem;
}

::placeholder {
    color: $font-color;
    font-family: $font-stack;
    font-size: 1.6rem;
}