#base {
    margin-top: 4vh;
    grid-area: base;
}

#hero-img {
    height: 35vh;
    width: 95vw;
}

#polarity-icon {
    height: 10vh;
    width: 10vw;
}

#subjectivity-icon {
    height: 10vh;
    width: 20vw;
}