#base {
    padding: 4vh 0;
    grid-area: 2/2/3/3;
}

#hero-img {
    background-image: url('../../../assets/images/light-bulb-h.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 100%;
}

#sentiment {
    margin-top: 6vh;
    display: grid;
    height: 25vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 5vh;
    grid-template-areas: "picon sicon" "plabel slabel";
    place-items: center;
    place-content: center;
}

#polarity-icon {
    grid-area: picon;
    height: 60%;
    width: 65%;
}

#subjectivity-icon {
    grid-area: sicon;
    height: 80%;
    width: 85%;
}

#polarity-label {
    grid-area: plabel;
    color: $secondary-color;
}

#subjectivity-label {
    grid-area: slabel;
    color: $secondary-color;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
    #hero-img {
        height: 65vh;
    }
    #polarity-icon {
        height: 70%;
        width: 75%;
    }
    #subjectivity-icon {
        height: 90%;
        width: 95%;
    }
}