.inactive-base-content {
    display: none;
}

#base {
    padding: 4vh 0;
    grid-area: base;
}

#base-content {
    display: block;
    visibility: visible;
    opacity: 1;
}

#hero-img {
    background-image: url('../../../assets/images/light-bulb-h.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 95vw;
}

#sentiment {
    margin-top: 6vh;
    display: grid;
    height: 25vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 5vh;
    grid-template-areas: "picon sicon" "plabel slabel";
    place-items: center;
    place-content: center;
}

#polarity-icon {
    grid-area: picon;
    height: 20vh;
    width: 25vw;
}

#subjectivity-icon {
    grid-area: sicon;
    height: 30vh;
    width: 35vw;
}

#polarity-label {
    grid-area: plabel;
    color: $secondary-color;
}

#subjectivity-label {
    grid-area: slabel;
    color: $secondary-color;
}