#combo-select {
    z-index: 1;
    position: relative;
    top: 40%;
    left: 5%;
    display: grid;
    width: 40%;
    grid-template-columns: 7vw 1fr;
    grid-template-rows: 4vh 2vh 1fr;
    grid-template-areas: "icon select" "line line" "e op";
    place-items: center;
    place-content: center;
    column-gap: 1%;
    #drop-down-icon {
        grid-area: icon;
        height: 7vh;
        width: 7vw;
        cursor: pointer;
    }
    #selected {
        grid-area: select;
        place-self: center;
        width: 100%;
        cursor: pointer;
    }
    #h-line {
        grid-area: line;
        border-top: 1px solid $primary-color;
        width: 100%;
    }
    #options {
        grid-area: op;
        border: 1px solid $third-color;
        border-radius: 8px;
        max-height: 0;
        opacity: 0;
        transition: all 0.4s;
        overflow: hidden;
        width: 110%;
        label {
            cursor: pointer;
        }
        .option {
            cursor: pointer;
        }
        .radio {
            display: none;
        }
        .option:hover {
            background-color: $third-color;
        }
        &.active-options {
            max-height: 10vh;
            opacity: 1;
        }
    }
}

// @media only screen and (min-width: 768px) {
//     #combo-select {
//         width: 30vw;
//         #h-line {
//             border-top: 2px solid $primary-color;
//         }
//         #drop-down-icon {
//             height: 5vh;
//             width: 5vw;
//         }
//     }
// }
// @media only screen and (orientation: landscape) and (min-width: 768px) {
//     #combo-select {
//         width: 25vw;
//         #h-line {
//             border-top: 1px solid $primary-color;
//         }
//         #drop-down-icon {
//             height: 4vh;
//             width: 4vw;
//         }
//     }
// }