.form {
    width: 95vw;
    margin-top: 3vh;
    border: none;
}

%input {
    overflow: auto;
    border: 1px solid $secondary-color;
    border-radius: 5vh;
    background-color: $third-color;
}

#form-input {
    @extend %input;
    padding-left: 4%;
    height: 5.2vh;
    width: 74vw;
}

#form-txt-area {
    @extend %input;
    display: none;
    outline: none;
    padding: 5% 0% 0% 5%;
    height: 30vh;
    width: 74vw;
}

#form-button {
    position: relative;
    top: 3vh;
    left: 35%;
}