%row-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
}

%col-container {
    display: flex;
    flex-flow: column nowrap;
}

.r-container-center {
    @extend %row-container;
    justify-content: center;
}

.r-container-left {
    @extend %row-container;
    justify-content: flex-start;
}

.r-container-right {
    @extend %row-container;
    justify-content: flex-end;
}

.c-container-left {
    @extend %col-container;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.c-container-top {
    @extend %col-container;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}