@import '../resets';
@import '../global';
@import '../theme/theme';
@import '../components/header';
@import '../components/base';
@import '../components/form';
@import '../components/footer';
@import '../components/button';
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 95vw 1fr;
    grid-template-rows: 10vh 1fr 35vh;
    grid-template-areas: "hd hd hd" "base base base" "ft ft ft";
}